{% extends "auctions/layout.html" %}

{% block body %}
    

    {% if listing %}

        <h2>Active Listings</h2>
        {% for list in listing%}
            <div class="container-fluid">
                <a href="{% url 'list' list.id %}"><h3>{{ list.title }}</h3></a>
                <img src="{{ list.picture.url }}" >
                <p>{{ list.details }}</p>
                <p> <em>Price:</em> ${{ list.startingbid }}</p>
                <p>{{list.created_at}}</p>
            </div>
        {% endfor %}
    {% elif watchlist %}
        <h2>Watchlist</h2>
        {% for list in watchlist %}
            <div class="container-fluid">
                <a href="{% url 'list' list.listing.id %}"><h3>{{ list.listing.title }}</h3></a>
                <img src="{{ list.listing.picture.url }}" >
                <p>{{ list.listing.details }}</p>
                <p> <em>Price:</em> ${{ list.listing.startingbid }}</p>
                <p>{{list.listing.created_at}}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}