{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
    {% if messages %}
        {% for mess in messages %}
        <div>
            {{mess}}
        </div>
        {% endfor %}
    {% endif %}
    {% if winner %}
        <div>
            <h2>Listing: {{ list.title }}</h2>
            {% if winner.winner == user %}
                <h3>You have won!</h3>
            {% endif %}
            <img src="{{ list.picture.url }}" >
            <p>{{ list.details }}</p>
            <p> <h3>${{ list.startingbid }}</h3></p>
            <p>{{list.created_at}}</p>
        </div>
    {% else %}
        <div>    
            <h2>Listing: {{ list.title }}</h2>
            {% if request.user.is_authenticated %}
                {% if watchlist %}
                    <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" href="{% url 'remove' list.id %}">Remove from watchlist</a>
                {% else %}
                    <a  class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" href="{% url 'addwatchlist' list.id %}">Add to watchlist</a>
                {% endif %}  
            {% endif %} 
            <br>
            <img src="{{ list.picture.url }}" >
            <p>{{ list.details }}</p>
            <p> <h3>${{ list.startingbid }}</h3></p>
            <p>{{list.created_at}}</p>
        </div>
        <div>
            <form method="POST" action="{% url 'bid' list.id%}">
                {% csrf_token %}
                <small>{{bids}} bid(s) placed so far.</small>
                {{ bidform|crispy}}
                <input class="btn btn-primary" type="submit" value="Place bid">
            </form>
        </div>
        <div>
            <h2>Details</h2>
            <ul>
                <li>Listed by: {{list.owner}}</li>
                <li>Category: {{list.category}}</li>
            </ul>
        </div>
        <div>
            <h2>Comments</h2>
            <form method="POST" action="{% url 'comment' list.id%}">
                {% csrf_token %}
                {{ commentform|crispy}}
                <input class="btn btn-primary" type="submit" value="Comment">
            </form>
            {% if comments %}
                {% for comment in comments %}
                <ul>
                    <li>{{ comment.comment }}
                        <small><em>{{ comment.user }}</em></small>
                    </li>
                </ul>
                {% endfor %}
            {% endif %}
        </div>
        {% if close %}
            <div>
                <form method="POST" action="{% url 'close' list.id%}">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Close list">
                </form>
            </div>
        {% endif %}
    
    {%endif%}
{% endblock %}